<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 삭제</title>
    <link rel="stylesheet" href="/css/board/crud.css">
</head>
<body>
<div class="page-wrapper">
    <h1 class="page-title">게시글 삭제</h1>
    <p class="page-desc">게시글 삭제 전 확인 화면입니다.</p>

    <div class="box">
        <table class="table">
            <tr>
                <th>게시글 ID</th>
                <td>4</td>
            </tr>
            <tr>
                <th>제목</th>
                <td>2주차 섹션 질문</td>
            </tr>
            <tr>
                <th>게시판 종류</th>
                <td>SECTION_QNA</td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>학생 1</td>
            </tr>
        </table>

        <div class="button-group">
            <button type="button" class="btn red">삭제</button>
            <a class="btn gray" href="/board/detail?postId=4">취소</a>
        </div>
    </div>
</div>
</body>
</html>
